<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Portal da Floresta</title>
</head>

<body>
    <header>
        <figure>
            <img src="/vista1.JPG" alt="">
            <img src="/vista2.JPG" alt="">
            <img src="/vista3.JPG" alt="">
            <img src="/vista4.JPG" alt="">
            <img src="/vista5.JPG" alt="">
        </figure>
        <h1>Portla da Floresta</h1>
    </header>
    <p><a href="../../../index.html">Voltar ao Menu Principal</a></p>
    <main>
        <aside>
            <ol class="links">
                <li><a href="">link 1</a></li>
                <li><a href="">link 2</a></li>
                <li><a href="">link 3</a></li>
                <li><a href="">link 4</a></li>
                <li><a href="">link 5</a></li>
            </ol>
        </aside>
        <section>
            <article>
                <h1>Título Principal</h1>
                <p class="autor">autor e data</p>
                <p class="nota">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet neque vitae quidem.</p>
                <figure>
                    <img src="escada.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Neque quod similique, n
                        esciunt iusto amet at sequi quia, molestias
                        in beatae animi exercitationem enim placeat
                        facere reiciendis, ipsum libero cum quis illum
                        impedit praesentium. At, dignissimos molestias!
                        Aspernatur, tempora corporis! Laudantium quis
                        doloremque incidunt obcaecati sapiente magni
                        asperiores dolorem dicta laboriosam. Optio enim
                        expedita aperiam eos placeat perferendis beatae
                        fuga magni commodi nesciunt temporibus totam
                        libero, necessitatibus suscipit in sapiente
                        saepe quasi praesentium accusantium vero. Lorem
                        ipsum dolor sit amet, consectetur adipisicing
                        elit. Modi assumenda cupiditate possimus quo fuga
                        commodi dolores, aperiam officiis quaerat, itaque
                        nisi dolor? Ea sapiente soluta necessitatibus
                        laboriosam sunt maxime, recusandae, animi porro
                        laborum distinctio repudiandae deserunt quis, maiores
                        doloremque tempore.</p>
                </figure>
            </article>
        </section>
        <aside>
            <article class="card">
                <h3>nóticia 1</h3>
                <p>00h00 / 01:01</p>
                <p>Aenean ut massa etcrat sagittis fringilavel sed nibh. Sedlacinia volutpatconsectetur.</p>
                <p href="">>> leia mais</p>
            </article>
            <article class="card">
                <h3>nóticia 2</h3>
                <p>00h00 / 01:01</p>
                <p>Aenean ut massa etcrat sagittis fringilavel sed nibh. Sedlacinia volutpatconsectetur.</p>
                <p >>> outras</p>
            </article>
            <article class="card">
                <h3>nóticia 3</h3>
                <p>00h00 / 01:01</p>
                <p>Aenean ut massa etcrat sagittis fringilavel sed nibh. Sedlacinia volutpatconsectetur.</p>
                <p>>> siga o exemplo</p>
            </article>
        </aside>
    </main>
    <footer>
        <h3>rua vitae rhoncus, 123 - sao paulo, sp - 01234-000 - 11 1234.5678</h3>
    </footer>
</body>

</html>